<!-- <!-- This is an example component
    Instagram: ccornejo__ -->
<div class='grid grid-cols-12'>
    <div class="col-span-4 text-white font-sans font-bold  min-h-screen pl-7">
        <div class="grid grid-rows-6 grid-flow-col min-h-screen items-center justify-items-start">
            <div class="row-start-1 text-4xl mb-2 font-mono">
                <!-- <img src="..//..//..//..//..//assets/Icons/icons8-bash-96.png" alt="logo" class="h-3"> -->
                <p class=" text-start">Marg control panel login into your panel</p>
            </div>
            <div class="row-span-4 row-start-2 text-4xl mb-3">
                Sign In
                <div class="pt-15 pr-20">
                    <label class="text-lg font-sans font-medium">
                        Username
                    </label>
                    <input type="text" name="username" placeholder="@maxena"
                        class="text-black w-full py-3 px-5 border hover:border-gray-500 rounded shadow text-base font-sans" />
                </div>
                <div class="pt-2 pr-20">
                    <label class="text-lg font-sans font-medium">
                        Password
                    </label>
                    <input type="password" name="password" placeholder="***************"
                        class="text-black w-full  py-3 px-5 border hover: border-gray-500 rounded shadow text-base font-sans" />
                    <a href="" class="text-base font-sans font-medium text-gray-600 underline">
                        Forgot password?
                    </a>
                </div>
                <!-- Button -->
                <div class="text-sm font-sans font-medium w-full pr-20 pt-14 pb-0">
                    <button type="button"
                        class="text-center w-full py-4 bg-blue-700 hover:bg-blue-400 rounded-md text-white">
                        SIGN IN
                    </button>
                </div>
            </div>
            <!-- Text -->
            <a href="" class="text-base font-sans font-medium text-gray-400 underline">
                Don´t have an account? Sign up
            </a>
        </div>
    </div>
    <!-- Second column image -->
    <div class="hidden banner col-span-8 h-auto text-white font-sans font-medium"></div>
</div>
<style>
    .banner {
        /* background: url('https://s1.1zoom.me/b6058/448/Dogs_Svetlana_Shelemeteva_Hug_Little_girls_568770_1920x1080.jpg'); */
        background: url("..//..//../../../assets/images/Marg-Friends1.jpeg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
</style> -->